@media (min-width: 920px) {
  .cardEvent{
    background-color: #212222;
    border-style: inset;
    border-width: 1px;
    height: 106.9px;
    border-color: white;
  }
}

@media (min-width: 1720px) {
  .cardEvent{
    background-color: #212222;
    border-style: inset;
    border-width: 1px;
    height: 133px;
    border-color: white;
  }
}
